In [1]:
import json
import re
import pandas as pd
import nltk
import string

Visulizing

In [39]:
from tika import parser # pip install tika
raw = parser.from_file('/Users/cosmos/DeepBlue/Dataset-Scraping/Resumes/Bold Serif Resume Template.docx')
print(raw['content'])

# removing spacing between lines    
tx = "".join(raw['content'].split('\n'))
print (tx)

Your Name
P H O N E | E M A I L | A D D R E S S
YN


	SKILLS

Skill Name
7 / 10
Skill Name

8 / 10
Skill Name

9 / 10

Skill Name

10 / 10

Skill Name

6 / 10



EDUCATION

Degree/Certificate
Institution
Date – Date

Degree/Certificate
Institution
Date – Date


VOLUNTEERING

Position Held
Organization
Date – Date

	OBJECTIVE

[Insert Objective Here]

EXPERIENCE

Job Title
Organization
Date – Date
· Accomplishment or responsibility
· Accomplishment or responsibility
· Accomplishment or responsibility

Job Title
Organization
Date – Date
· Accomplishment or responsibility
· Accomplishment or responsibility
· Accomplishment or responsibility
· Accomplishment or responsibility

Job Title
Organization
Date – Date
· Accomplishment or responsibility
· Accomplishment or responsibility
· Accomplishment or responsibility
· Accomplishment or responsibility





Your NameP H O N E | E M A I L | A D D R E S SYN	SKILLSSkill Name7 / 10Skill Name8 / 10Skill Name9 / 10Skill Name10 / 10Skill Name6 / 10EDUCATIONDegree/CertificateInstitutionDate – DateDegree/CertificateInstitutionDate – DateVOLUNTEERINGPosition HeldOrganizationDate – Date	OBJECTIVE[Insert Objective Here]EXPERIENCEJob TitleOrganizationDate – Date· Accomplishment or responsibility· Accomplishment or responsibility· Accomplishment or responsibilityJob TitleOrganizationDate – Date· Accomplishment or responsibility· Accomplishment or responsibility· Accomplishment or responsibility· Accomplishment or responsibilityJob TitleOrganizationDate – Date· Accomplishment or responsibility· Accomplishment or responsibility· Accomplishment or responsibility· Accomplishment or responsibility

Pre - Processing

In [40]:
new_lower = raw['content'].lower()

In [41]:
#raw['']
nl1=re.sub('http\S+\s*',' ',new_lower)
nl2=re.sub('RT|cc',' ',nl1)
nl3=re.sub('#\S+',' ',nl2)
nl4=re.sub('@\S+',' ',nl3)
nl5=re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""),' ',nl4)
nl6=re.sub(r'[^\x00-\x7f]',' ',nl5)
nl7=re.sub('\s+',' ',nl6)
nl8=re.sub("\n", " ",nl7)

In [42]:
#remove numbers

#re.sub(r'\d+','',raw['content'])

In [43]:
#remove punctaions

def rp(text):
    translator=str.maketrans(",",string.punctuation)
    return text.translate(translator)

nl9 = nl8

In [44]:
#remove stop words

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize


def remove_stopwords(text):
    stop_words= set(stopwords.words("english"))
    word_tokens=word_tokenize(text)
    new_text= [word for word in word_tokens if word not in stopwords]
    return new_text


#new_text

In [45]:
nl9

' your name p h o n e e m a i l a d d r e s s yn skills skill name 7 10 skill name 8 10 skill name 9 10 skill name 10 10 skill name 6 10 education degree certificate institution date date degree certificate institution date date volunteering position held organization date date objective insert objective here experience job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility '

In [46]:
#stemming

from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer


def stemmer(text):
    word_tokens=word_tokenize(text)
    stem = [stemmer.stem(word) for word in word_tokens]
    return stem

In [47]:
def remove_whitespaces(text):
    return "".join(text.split())

In [48]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

def lemtizer(text):
    word_tokens=word_tokenize(text)
    
    lemmas = [lemtizer.lemmatize(word,pos= 'v') for word in word_tokens]
    return lemmas

In [49]:
#remove some bad words 

# keep updating this lists

nl10 = nl9.replace("page 1 of 1", "")
nl11 = nl10.replace("resume", "")
nl11

' your name p h o n e e m a i l a d d r e s s yn skills skill name 7 10 skill name 8 10 skill name 9 10 skill name 10 10 skill name 6 10 education degree certificate institution date date degree certificate institution date date volunteering position held organization date date objective insert objective here experience job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility '

In [50]:
new_text_2 =re.sub("\n", " ", nl11)

In [51]:
new_text_2

' your name p h o n e e m a i l a d d r e s s yn skills skill name 7 10 skill name 8 10 skill name 9 10 skill name 10 10 skill name 6 10 education degree certificate institution date date degree certificate institution date date volunteering position held organization date date objective insert objective here experience job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility job title organization date date a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility a omplishment or responsibility '